.main {
  grid-column: span 9;
  background-color: #09529f;
  position: relative;
  &_canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
  }
  &_image {
    max-width: 100%;
    max-height: 100%;
    display: block;
  }
}